:root{
    /*primario*/
    --red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /*Neutral*/
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.contenedor{
    font-family: 'Poppins', sans-serif;
}

.contenedor-texto{
    width: 40%;
    margin: auto;
    text-align: center;
    color: var(--Grayish-Blue);
    margin-bottom: 30px;
}

.contenedor-tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 200px;
    width: 250px;
    background-color: var(--Very-Light-Gray);
    margin: 10PX;
    padding: 0 20px 20px 20px;
    /* border: black 1px solid; */
    box-shadow: 0 5px 10px var(--Grayish-Blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.columna{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.linea{
    margin-top: 0;
    padding: 2PX;
    width: 100%;
}

.lin-color1{
    background-color: var(--Cyan);
}

.lin-color2{
    background-color: var(--red);
}
.lin-color3{
    background-color: var(--Orange);
}
.lin-color4{
    background-color: var(--Blue);
}

.texto-tarjeta{
    color: var(--Grayish-Blue);
}

.cargo{
    color: var(--Very-Dark-Blue);
    font-weight: 600;
    
}

.icono{
    height: 50px;
    width: 50px;
    margin: auto 0 0 auto;
}

h2{
    color: var(--Very-Dark-Blue);
}

.slogan-pt1{
    color: var(--Grayish-Blue);
    font-weight: 200;
}

.descripcion{
    font-size: 15px;
}

@media screen and (max-width: 720px) {
    .contenedor-tarjetas{
        flex-direction: column;
    }

    .contenedor-texto{
        width: 90%;
        margin: 50px 30px;
    }
}