:root{
    /*primario*/
    --red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /*Neutral*/
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.contenedor{
    font-family: 'Poppins', sans-serif;
}

.contenedor-texto{
    width: 40%;
    margin: auto;
    text-align: center;
}
.contenedor-tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 200px;
    width: 250px;
    background-color: var(--Very-Light-Gray);
    margin: 10PX;
    padding: 0 20px 20px 20px;
    border: black 1px solid;
    box-shadow: 5px 5px 10px var(--Grayish-Blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

hr{
    margin-top: 0;
    padding: 2PX;
    background-color: var(--Cyan);
    width: 100%;
    
}

.texto-tarjeta{
    color: var(--Grayish-Blue);
}

.cargo{
    color: var(--Very-Dark-Blue);
    font-weight: 600;
    
}

.icono{
    height: 50px;
    width: 50px;
    margin: auto 0 0 auto;
}